##In the subdirectory of this
##Another git repository was built ,so it was ignored
## repository : course
# ignore dir
/c++/
/Database/db/
/OOb/ob/
/OOb/pre/
/Database


# ignore .zip
*.zip
*.mp*
*.ogg
*面向对象*
*.doc
*.rar
*.pdf
.gitignore*

